.bottom_center {
	text-align: center;
	margin-block: 1rem;
}

.margin_top_large {
	margin-top: 3rem;
}

.header {
	display: flex;
}

.content_sign {
	padding: 20px 50px;
	background: whitesmoke;
}

.padding_med {
	padding: 1.5rem;
}

.header {
	display: flex;
}

.content_sign {
	padding: 20px 50px;
	background: whitesmoke;
}
