.bottom_center {
	text-align: center;
	margin-block: 1rem;
}

.content_sign {
	padding: 20px 50px;
	background: whitesmoke;
}

.header {
	display: flex;
}

.card {
	width: 100%;
	word-wrap: break-word;
}

.text_area {
	background-color: white !important;
	color: black !important;
}
