.margin_top_large {
	margin-top: 3rem;
}

.margin_top_med {
	margin-top: 1.5rem;
}

.padding_med {
	padding: 1.5rem;
}

.list_addresses {
	word-wrap: break-word;
	font-size: 90%;
	margin-top: 1rem;
}

.med_font_size {
	font-size: 1.7rem;
	font-weight: 500;
}
