.margin_top_large {
	margin-top: 3rem;
}

.margin_top_med {
	margin-top: 1.5rem;
}

.margin_left_sm {
	margin-left: 0.5rem;
}

.margin_left_med {
	margin-left: 1.5rem;
}

.padding_med {
	padding: 1.5rem;
}

.list_addresses {
	word-wrap: break-word;
	font-size: 90%;
	word-break: break-all;
}

.med_font_size {
	font-size: 1.7rem;
	font-weight: 500;
}
